.modal {
    background: rgba(0, 0, 0, 0.25);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    /* width: 200px; */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:10;
    
}

.modalContentBox{
    background: white;
    width: 650px;
    /* width: 100%; */
    /* overflow: scroll; */
    border: 1px solid gray;
    /* border-radius: 15px; */
}
.modalItem{
    overflow: scroll;
}

.closeBtn{
    background-color: #F5A9A9;
    font-weight: 800;
    font-size: 18px;
}
.usrAdd{
    margin-bottom: 20px;
    width: 100%;
    /* overflow: scroll; */
}
.addText{
    font-size: 18px;
    font-weight: 600;
    background-color: #CECEF6;
    margin-bottom: 15px;
}

@media(max-width:950px){
    .modalContentBox{
        width: 100%;
    }
    .usrAdd{
        overflow: scroll;
    }
    .smartImg{
        max-width: 180px;
        max-height: 180px;
    }
}
