.MyModal {
    background: rgba(0, 0, 0, 0.25);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:10;
    
  }
  #tablebox{
    /* width: auto; 
    height: auto; 
    overflow: auto; */
    width: 1500px;
    height: 1000px; overflow: auto;
  } 
 
  .MyModal .content {
    background: white;
    padding: 1rem;
    width: 400px;
    height: auto;
    
  }
  .profile_preview{
    max-width: 200px;
    max-height : 200px;
  }

  .community_item{
      width: 100%;
      margin: auto;
      text-align: center;
}
.community_index_item{
  display: inline-block;
  width:300px;
  height: 200px;
  margin: 0px 14px;
}

  .modal{text-align: center}
  textarea{resize: none;}