fe/node_modules/*
fe/node/node_modules/*
fe/target/*
be\vote\src\main\resources\application.properties
\Users\aaed1\OneDrive\문서\GitHub\22\2020Capston3WDA\be\vote\src\main\resources\application.properties