# Directories #
/build/
/bin/
target/
fe/node_modules/*
fe/node/node_modules/*
fe/target/*
application.properties


# OS Files #

 
# Package Files #
      
# Eclipse #
.project
.metadata
.classpath
.settings/
.loadpath



