<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
th:replace="~{main_layout::layout(~{::content},~{::script},'오디션 개설 게시글',_)}">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 사이드바 -->
    <script src="/js/side/userInfoSide.js"></script>
</head>
<content>
<body>

	<table class="table table-bordered; margin:auto; text-align:center;">
   
    <tbody>
            <tr>
                <th>제목</th>
                 <td th:text="${audition.atitle}"></td>

            </tr>
            
            <tr>
                <th>기간</th>
                 <td th:text="${#dates.format(audition.astartdate, 'yyyy-MM-dd')}"></td>
				<th>  ~  </th>
				<td th:text="${#dates.format(audition.aenddate, 'yyyy-MM-dd')}"></td>
            </tr>
           
          
         
    </tbody>
</table>
	<span style="float:right;">
            
             	 <a href="" th:href="@{'/uploads/' + ${audition.afile}}">
                  [[${audition.afile}]]</a>

					
					</span><br><br>
				
<table><br>
 <tr>
                <th>내용</th>
                
                  <td th:text="${audition.acontent}"></td>
            <!--    <td><textarea cols="150" rows="20" placeholder="내용을 입력하세요. " name="a_content"></textarea></td> -->
           
                
            </tr>
            
           
</table><br><br>
	

	
	
	<div>
	
	
			<tr><center>
                <td colspan="2">
             <input type="button" value="신청서" onclick="location.href='/audition_con/form'"/>  
         
                                    </td></center>
                                    
            </tr>
        

	
	</div>
	
	<br><br>
	
	
	<div>
        <button>
        <a href="" th:href="@{'/audition/update/' + ${audition.auditionid}}">수정</a> 
    </button>
             <form id="delete-form" th:action="@{'/audition/' + ${audition.auditionid}}" method="post">
            <input type="hidden" name="_method" value="delete"/> 
            <button id="delete-btn">삭제</button>
        </form>
        
	<!--	<a href="" th:href="@{'/hotclib/delete/' + ${hotclib.hotclibid}}">삭제</a> -->
		<button><a href="" th:href="@{/audition/list}">게시글 목록</a></button>
	</div>

</body>
</content>
</html>