<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
th:replace="~{main_layout::layout(~{::content},~{::script},'오디션 개설 게시글 수정',_)}">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 사이드바 -->
    <script src="/js/side/userInfoSide.js"></script>
</head>
<content>
<body>  	   
	<form th:action="@{'/audition/update/' + ${audition.auditionid}}" method="post">     
	
	<colgroup>
		<col width="20%">
		<col width="80%">
	</colgroup>

		<table border="1">
    <tbody>
            <tr>
                <th><label for="atitle">분야 : </label></th>
				<td><input type="text" name="acategory" th:value="${audition.acategory}" /></td>
        	     <th><label for="astartdate">모집기간 : </label></th>
				<td><input type="date" name="astartdate" th:value="${#dates.format(audition.astartdate, 'yyyy-MM-dd')}" /></td>
                <th>    ~     </th>
                <td><input type="date" name="aenddate" th:value="${#dates.format(audition.aenddate, 'yyyy-MM-dd')}" /></td>
                
                <th><label for="arecruits">인원 : </label></th>
				<td><input type="text" name="arecruits" th:value="${audition.arecruits}" /></td>
				
                <th><label for="aissue">발표일 : </label></th>
				<td><input type="date" name="aissue" th:value="${#dates.format(audition.aissue, 'yyyy-MM-dd')}"> /></td>
                
            </tr>
            <tr>
                <th><label for="atitle">제목 : </label></th>
				<td><input type="text" name="atitle" th:value="${audition.atitle}" /></td>
            </tr>
           
          
         
    </tbody>
</table>
<table>
 <tr>
                <th><label for="acontent">내용 : </label></th>
                <td><input type="text" name="acontent" style=" width:1040px; height:300px;" th:value="${audition.acontent}" /></td>
            </tr>
</table>
		<div>
            <input type="submit" value="수정하기" /> 
            <input type="reset" value="이전으로" onclick="history.back();"> 
		</div>
	</form>
</body>
</content>
</html>