<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
th:replace="~{main_layout::layout(~{::content},_,'게시글 작성')}">
<head>
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css"> -->
   

</head>
  
<body>


    <content>

<form th:action="@{/audition/write}" method="post" enctype="multipart/form-data">  

  <!--  <th:block sec:authorize="isAuthenticated()">
            <input type="text" value=""name="rid"  id="userRid" sec:authentication="principal.R_ID"></input>
        </th:block>   -->
        
    <div class="container">
<table class="table table-bordered">
    <thead>
        <caption><h1> 게시글 작성</h1> </caption>
        
    </thead> 
    <tbody>
            <tr>
            	<th>분야</th>
                <td><input type="text" placeholder="분야을 입력하세요. " name="acategory"/></td>
                <th>모집기간</th>
                <td><input type="date" name="astartdate" /></td>
                <th>    ~     </th>
                <td><input type="date" name="aenddate" /></td>
                <th>인원</th>
                <td><input type="text" placeholder="모집인원을 입력하세요" name="arecruits" /></td>
                <th>발표일</th>
                <td><input type="date" placeholder="발표일을 입력하세요" name="aissue" /></td>
                
            </tr>
            <tr>
                <th>제목</th>
                <td><input type="text" placeholder="제목을 입력하세요. " name="atitle" /></td>
           <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                
             <th>첨부파일</th>
                                <td>
                                    
                  <input type="file" name="filename">
                                </td>
         
         
    </tbody>
</table>
<table>
 <tr>
                <th>내용 : </th>
                <td><textarea cols="150" rows="20" placeholder="내용을 입력하세요. " name="acontent"></textarea></td>
            </tr>
</table>
 <tr>
                <td colspan="2">
                     <input type="submit" value="등록">
                    <input type="reset" value="취소" onclick="history.back();">                 </td>
            </tr>  
            
</div>
			 </form>
	 
       </content>

</body>
</html>