<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
th:replace="~{main_layout::layout(~{::content},_,'업로드 된 글',_)}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

</head>
<content>
<body>
<!--     <table border="1">
		<tr>
			<th>제목</th>
			<td th:text="${audition.a_title}">제목입니다.</td>
		</tr>
		<tr>
			<th>내용</th>
			<td th:text="${audition.a_category}">분야입니다.</td>
		</tr>
	</table> -->
	<table class="table table-bordered; margin:auto; text-align:center;">
   
    <tbody>
            <tr>
                <th>제목 : </th>
                 <td th:text="${auditionResult.rtitle}"></td>

            </tr>
           
          
         
    </tbody>
</table>
<span style="float:right;">
            
    <a href="" th:href="@{'/uploads/' + ${auditionResult.rfile}}">
    [[${auditionResult.rfile}]]</a>

      
      </span><br><br>
<table>
 <tr>
                <th>내용 : </th>
                
                  <td th:text="${auditionResult.rcontent}"></td>
                  
            <!--    <td><textarea cols="150" rows="20" placeholder="내용을 입력하세요. " name="a_content"></textarea></td> -->
            </tr>
</table>
	
<br><br>
	
	
	
	
	
	
	
    <div>
    <button>
        <a href="" th:href="@{'/auditionresult/update/' + ${auditionResult.Resultid}}">수정</a> 
    </button>
             <form id="delete-form" th:action="@{'/auditionresult/' + ${auditionResult.Resultid}}" method="post">
            <input type="hidden" name="_method" value="delete"/> 
            <button id="delete-btn">삭제</button>
        </form>
        
	<button>
        <a href="" th:href="@{/auditionresult/list}">게시글 목록</a>
</button>
	</div>
</body>
</content>
</html>