<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
th:replace="~{main_layout::layout(~{::content},~{::script},'마이페이지',_)}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- 사이드바 -->
    <script src="/js/side/userInfoSide.js"></script>
</head>

<body>
    <content>
    
    	 <form method="post"  action="/userInfo/companyUpdate" id="register_form">
	     
	     <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
	     
	     <div id="allCompany"></div>
         <script src="/assets/allCompany.js"></script>
       	
       	
       	</form>
       
    </content>
  
</body>
 
</html>