<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
th:replace="~{main_layout::layout(~{::content},~{::script},'프로그램관리',_)}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 사이드바 -->
    
	<script src="/js/side/userInfoSide.js"></script>


	
</head>
<body>
<div>
<script>
</script>
</div>
       <content>
    
    	 <form method="post"  enctype="multipart/form-data"  id="register_form">
	     
	     <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
	     
	     <div id="my"></div>
	     
         <script src="/assets/myCommunity.js"></script>
       	
       	
       	</form>
       
    </content>
    

</body>
</html>

