.webzineList > ul > li .list_img {
    display: block;
    float: left;
    margin: 0 15px 0 0;
    width: 20%;
    max-width: 120px;
    overflow: hidden;
}

.bagItem{
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    margin: 10px;
    width: 60%

}
.items{
    text-align: -webkit-center;
}
.bagItem img{
    max-width: 300px;
}
.centerOrderGo{
    text-align:  -webkit-center;
}
.sumPrice{
    display: inline;
}
.bagCheckBox{
    text-align: center;
}
@media(max-width:940px){
    .bagItem img{
        max-width: 180px;
    }
    
}