.topDiv{
    width: 100%;
    margin: auto;
}
.grid{
    display: grid;
    grid-template-columns: 40% 40%;
    place-content: center;
}
.imgs{
    margin: auto;
}

.itemInfo{
    margin: auto;
}
.itemDetails{
    margin: auto;
    width: 68%;
}
.sum{
    width: 250px;
    /* height: 300px; */
    max-height: 250px;
    overflow: hidden;
}
.sum img {
    width: 100%;
}

.subImg{
    width: 50px;
    height: 50px;
}