.topDiv{
    width: 100%;
    margin: auto;
}
.grid{
    display: grid;
    grid-template-columns: 40% 40%;
    place-content: center;
}
.imgs{
    margin: auto;
}

.itemInfo{
    margin: auto;
}
.itemDetails{
    margin: auto;
    width: 56%;
}