<!DOCTYPE html>
<html lang="en"></html>
<!-- <html lang="ko" xmlns:th="http://www.thymeleaf.org"
th:replace="~{main_layout::layout(~{::content},_,'업로드 하는곳')}"> -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <content>   
       
        <form th:action="@{/audience/create}" method="post">
                       
            <tr>
				<th><label for="aTitle">제목</label></th>
				<td><input name="aTitle" /></td>
			</tr>
			<tr>
				<th><label for="aContent">내용</label></th>
				<td><input name="aContent" /></td>
			</tr>
             <div>
                <span>작성</span>
                    <input type="submit" value="등록">
                    <input type="reset" value="취소" onclick="history.back();">                    
           </div>

       <!--   <div>댓글허용여부</div>
           <input type="radio" name="xxx" value="xxx" checked>O</input>
           <input type="radio" name="xxx" value="yyy" checked>X</input>
           <div class="filebox preview-image"> 
               <input class="upload-name" value="파일선택" disabled="disabled" > 
               <label for="input-file">업로드</label> 
               <input type="file" id="input-file" class="upload-hidden"> </div>
-->
        </form>
            </content>
</body>
</html>