<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
th:replace="~{main_layout::layout(~{::content},_,'업로드 하는곳', ~{::link})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<content>
<body>  	   
	<form th:action="@{'/hotclib/update/' + ${hotclib.hotclibid}}" method="post">     
		<table border="1">
			<tr>
				<th><label for="title">제목</label></th>
				<td><input name="htitle" th:value="${hotclib.htitle}" /></td>
			</tr>
			<tr>
				<th><label for="h_content">내용</label></th>
				<td><input name="h_content" th:value="${hotclib.h_content}" /></td>
			</tr>			
		</table>
		<div>
            <input type="submit" value="수정하기" /> 
            <a href="" th:href="@{/hotclib}">목록</a>
		</div>
	</form>
</body>
</content>
</html>