<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
th:replace="~{main_layout::layout(~{::content},_,${popularName},_)}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 사이드바 -->
    <!-- <script src="/js/side/popularBoard.js"></script> -->
</head>
<body>

    <content>
		
		 <form method="post" id="register_form" enctype="multipart/form-data" >	  
              
	        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
	          <div id="popularBoardView"></div>
       		<script src="/assets/popularBoardView.js"></script>
       	
       	</form>
       
       
          
       		
    </content>

</body>
</html>