<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
th:replace="~{main_layout::layout(~{::content},_,'블록체인이란?',_)}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <content>
        <form method="post" enctype="multipart/form-data" action="/vote">
            <div id="blockChain"></div>
            <script src="/assets/blockChainIntroduce.js"></script>
            
        </form>
    </content>
</body>
</html>