<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
th:replace="~{main_layout::layout(~{::content},~{::script},'test')}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>

<body>
  
    <content>dd
      <form method="post" action="/auth/register">
           
            <div id="test"></div> 
        </form>
        
        <script src="../assets/test.js"></script> 
    
   </content>
 
    <script>
  
    	</script>
	

</body>
 
</html>