.top {
    display:block;
    position:fixed;
    align-content: center;
    text-align: right;
    width:100%;
    background-color: rgba(66,103,178,1);
    padding: 15px;
    z-index: 10;
}
.top .top_div{
    display: block;
    width:80%;
}
.top div {
    display: inline;
}
.top .top_div span{
    color: white;
}
.top .top_div .top_form{
    display: inline;
}

.top a {
    text-decoration: none;
    /*    color: black;*/
    color: white;
    
    padding-left: 10px;
}

.top a:nth-child(n):not(:last-child) {
    border-right: 3px solid #BDBDBD;
}